fastapi==0.95.2
uvicorn==0.22.0
diffusers==0.19.3
transformers==4.31.0
torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
accelerate==0.21.0
python-multipart==0.0.6
--index-url https://download.pytorch.org/whl/cu118
